<a href="https://colab.research.google.com/github/skylar1218/ML-Project---Predicting-Disease-Spread/blob/master/src/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Sources
Data Preparation: https://www.dataquest.io/blog/pandas-python-tutorial/

# Import Data

In [0]:
# import package
import numpy as np
import pandas as pd

In [0]:
# import csv files
url = "https://raw.githubusercontent.com/skylar1218/ML-Project---Predicting-Disease-Spread/master/data/dengue_features_train.csv"
dengue_features_train = pd.read_csv(url)

In [0]:
url = "https://raw.githubusercontent.com/skylar1218/ML-Project---Predicting-Disease-Spread/master/data/dengue_labels_train.csv"
dengue_labels_train = pd.read_csv(url)

In [0]:
url = 'https://raw.githubusercontent.com/skylar1218/ML-Project---Predicting-Disease-Spread/master/data/dengue_features_test.csv'
dengue_features_test = pd.read_csv(url)

# Data Description

In [6]:
dengue_features_train.head()

  city  year  ...  station_min_temp_c station_precip_mm
0   sj  1990  ...                20.0              16.0
1   sj  1990  ...                22.2               8.6
2   sj  1990  ...                22.8              41.4
3   sj  1990  ...                23.3               4.0
4   sj  1990  ...                23.9               5.8

[5 rows x 24 columns]

In [38]:
dengue_features_train.shape

(1456, 24)

In [0]:
dengue_labels_train.head()

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

In [41]:
dengue_labels_train.shape

(1456, 4)

In [0]:
dengue_features_test.head()

  city  year  ...  station_min_temp_c station_precip_mm
0   sj  2008  ...                21.7              75.2
1   sj  2008  ...                22.2              34.3
2   sj  2008  ...                22.8               3.0
3   sj  2008  ...                24.4               0.3
4   sj  2008  ...                23.3              84.1

[5 rows x 24 columns]

In [42]:
dengue_features_test.shape

(416, 24)

In [8]:
dengue_features_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 24 columns):
city                                     1456 non-null object
year                                     1456 non-null int64
weekofyear                               1456 non-null int64
week_start_date                          1456 non-null object
ndvi_ne                                  1262 non-null float64
ndvi_nw                                  1404 non-null float64
ndvi_se                                  1434 non-null float64
ndvi_sw                                  1434 non-null float64
precipitation_amt_mm                     1443 non-null float64
reanalysis_air_temp_k                    1446 non-null float64
reanalysis_avg_temp_k                    1446 non-null float64
reanalysis_dew_point_temp_k              1446 non-null float64
reanalysis_max_air_temp_k                1446 non-null float64
reanalysis_min_air_temp_k                1446 non-null float64
reanalysis_precip_amt_kg_per_m2          1446 non-null float64
reanalysis_relative_humidity_percent     1446 non-null float64
reanalysis_sat_precip_amt_mm             1443 non-null float64
reanalysis_specific_humidity_g_per_kg    1446 non-null float64
reanalysis_tdtr_k                        1446 non-null float64
station_avg_temp_c                       1413 non-null float64
station_diur_temp_rng_c                  1413 non-null float64
station_max_temp_c                       1436 non-null float64
station_min_temp_c                       1442 non-null float64
station_precip_mm                        1434 non-null float64
dtypes: float64(20), int64(2), object(2)
memory usage: 273.1+ KB

In [9]:
dengue_features_train.describe()

              year   weekofyear  ...  station_min_temp_c  station_precip_mm
count  1456.000000  1456.000000  ...         1442.000000        1434.000000
mean   2001.031593    26.503434  ...           22.102150          39.326360
std       5.408314    15.019437  ...            1.574066          47.455314
min    1990.000000     1.000000  ...           14.700000           0.000000
25%    1997.000000    13.750000  ...           21.100000           8.700000
50%    2002.000000    26.500000  ...           22.200000          23.850000
75%    2005.000000    39.250000  ...           23.300000          53.900000
max    2010.000000    53.000000  ...           25.600000         543.300000

[8 rows x 22 columns]

In [10]:
# check missing for each column
dengue_features_train.isnull().sum(axis=0)

city                                       0
year                                       0
weekofyear                                 0
week_start_date                            0
ndvi_ne                                  194
ndvi_nw                                   52
ndvi_se                                   22
ndvi_sw                                   22
precipitation_amt_mm                      13
reanalysis_air_temp_k                     10
reanalysis_avg_temp_k                     10
reanalysis_dew_point_temp_k               10
reanalysis_max_air_temp_k                 10
reanalysis_min_air_temp_k                 10
reanalysis_precip_amt_kg_per_m2           10
reanalysis_relative_humidity_percent      10
reanalysis_sat_precip_amt_mm              13
reanalysis_specific_humidity_g_per_kg     10
reanalysis_tdtr_k                         10
station_avg_temp_c                        43
station_diur_temp_rng_c                   43
station_max_temp_c                        20
station_min_temp_c                        14
station_precip_mm                         22
dtype: int64

# Delete Observations with Majority Features Missing

https://thispointer.com/python-pandas-how-to-drop-rows-in-dataframe-by-conditions-on-column-values/

In [0]:
# keep only the rows with at least 5 non-na values
# X_train1 = dengue_features_train.dropna(thresh=5)

In [0]:
# get names of indexes for which observations with more than 15 variables' values missing
indexNames = dengue_features_train[dengue_features_train.isnull().sum(axis=1)>15].index

In [46]:
indexNames

Int64Index([87, 139, 399, 451, 711, 763, 1118, 1170, 1378, 1430], dtype='int64')

In [0]:
# delete these row indexes from dengue_features_train
X_train1 = dengue_features_train.drop(indexNames)
y_train1 = dengue_labels_train.drop(indexNames)

In [48]:
print(X_train1.shape)
print(y_train1.shape)

(1446, 24)
(1446, 4)

# Replace Feature Missing Value

https://medium.com/@george.drakos62/handling-missing-values-in-machine-learning-part-1-dda69d4f88ca

https://towardsdatascience.com/6-different-ways-to-compensate-for-missing-values-data-imputation-with-examples-6022d9ca0779

*   Replace with overall Median
```
dataframe.Column_Name.fillna(dataframe.Column_Name.median(),inplace=True)
```
*   Replace with values close to the mean value but within one standard deviation
```
Column_Name_avg = dataframe['Column_Name'].mean()
Column_Name_std = dataframe['Column_Name'].std()
Column_Name_null_count = dataframe['Column_Name'].isnull().sum()
Column_Name_null_random_list = np.random.randint(Column_Name_avg - Column_Name_std, Column_Name_avg + Column_Name_std, size=Column_Name_null_count)
dataframe['Column_Name'][np.isnan(dataframe['Column_Name'])] = Column_Name_null_random_list
dataframe['Column_Name'] = dataframe['Column_Name'].astype(int)
```
*   Back-fill or forward-fill to propagate next or previous values respectively
```
# for back fill
dataframe.fillna(method='bfill',inplace=True)
# for forward-fill
dataframe.fillna(method='ffill',inplace=True)
```
*   Replace with some constant value outside fixed value range: -999,-1 etc
```
dataframe.Column_Name.fillna(-99,inplace=True)
```
*   Replace with median by cluster (imputation using k-NN)
 * Computationally expensive. KNN works by storing the whole training dataset in memory.
 * K-NN is quite sensitive to outliers in the data (unlike SVM).
```
import sys
from impyute.imputation.cs import fast_knn
# Increase the recursion limit of the OS
sys.setrecursionlimit(100000)
# start the KNN training
imputed_training=fast_knn(train.values, k=30)
```
* Imputation Using Multivariate Imputation by Chained Equation (MICE)
 * filling the missing data multiple times
 * Multiple Imputations (MIs) are much better than a single imputation as it measures the uncertainty of the missing values in a better way
  * can handle different variables of different data types (ie., continuous or binary) as well as complexities such as bounds or survey skip patterns
```
from impyute.imputation.cs import mice
# start the MICE training
imputed_training=mice(train.values)
```
* Stochastic regression imputation
 * predict the missing values by regressing it from other related variables in the same dataset plus some random residual value

* Multivariate feature imputation
 * https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html#sklearn.impute.IterativeImputer
* Nearest neighbors imputation
 * https://scikit-learn.org/stable/modules/generated/sklearn.impute.KNNImputer.html#sklearn.impute.KNNImputer

In [0]:
# replace missing value with KNN
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=5)

In [0]:
label = X_train1.iloc[:, 0:4]

In [0]:
data = X_train1.iloc[:, 4:]

In [0]:
data_missing_filled = imputer.fit_transform(data)

In [72]:
data_missing_filled

array([[1.226000e-01, 1.037250e-01, 1.984833e-01, ..., 2.940000e+01,
        2.000000e+01, 1.600000e+01],
       [1.699000e-01, 1.421750e-01, 1.623571e-01, ..., 3.170000e+01,
        2.220000e+01, 8.600000e+00],
       [3.225000e-02, 1.729667e-01, 1.572000e-01, ..., 3.220000e+01,
        2.280000e+01, 4.140000e+01],
       ...,
       [2.470571e-01, 1.460571e-01, 2.503571e-01, ..., 3.220000e+01,
        1.920000e+01, 7.400000e+00],
       [3.339143e-01, 2.457714e-01, 2.788857e-01, ..., 3.120000e+01,
        2.100000e+01, 1.600000e+01],
       [2.981857e-01, 2.329714e-01, 2.742143e-01, ..., 3.370000e+01,
        2.220000e+01, 2.040000e+01]])