<a href="https://colab.research.google.com/github/skylar1218/ML-Project---Predicting-Disease-Spread/blob/master/src/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# import package
import numpy as np
import pandas as pd

In [0]:
# import csv files
url = "https://raw.githubusercontent.com/skylar1218/ML-Project---Predicting-Disease-Spread/master/dengue_features_train.csv"
dengue_features_train = pd.read_csv(url)

In [0]:
url = "https://raw.githubusercontent.com/skylar1218/ML-Project---Predicting-Disease-Spread/master/dengue_labels_train.csv"
dengue_labels_train = pd.read_csv(url)

In [0]:
url = 'https://raw.githubusercontent.com/skylar1218/ML-Project---Predicting-Disease-Spread/master/dengue_features_test.csv'
dengue_features_test = pd.read_csv(url)

In [6]:
dengue_features_train.head()

  city  year  ...  station_min_temp_c station_precip_mm
0   sj  1990  ...                20.0              16.0
1   sj  1990  ...                22.2               8.6
2   sj  1990  ...                22.8              41.4
3   sj  1990  ...                23.3               4.0
4   sj  1990  ...                23.9               5.8

[5 rows x 24 columns]

In [0]:
dengue_labels_train.head()

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

In [0]:
dengue_features_test.head()

  city  year  ...  station_min_temp_c station_precip_mm
0   sj  2008  ...                21.7              75.2
1   sj  2008  ...                22.2              34.3
2   sj  2008  ...                22.8               3.0
3   sj  2008  ...                24.4               0.3
4   sj  2008  ...                23.3              84.1

[5 rows x 24 columns]

In [8]:
dengue_features_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 24 columns):
city                                     1456 non-null object
year                                     1456 non-null int64
weekofyear                               1456 non-null int64
week_start_date                          1456 non-null object
ndvi_ne                                  1262 non-null float64
ndvi_nw                                  1404 non-null float64
ndvi_se                                  1434 non-null float64
ndvi_sw                                  1434 non-null float64
precipitation_amt_mm                     1443 non-null float64
reanalysis_air_temp_k                    1446 non-null float64
reanalysis_avg_temp_k                    1446 non-null float64
reanalysis_dew_point_temp_k              1446 non-null float64
reanalysis_max_air_temp_k                1446 non-null float64
reanalysis_min_air_temp_k                1446 non-null float64
reanalysis_precip_amt_kg_per_m2          1446 non-null float64
reanalysis_relative_humidity_percent     1446 non-null float64
reanalysis_sat_precip_amt_mm             1443 non-null float64
reanalysis_specific_humidity_g_per_kg    1446 non-null float64
reanalysis_tdtr_k                        1446 non-null float64
station_avg_temp_c                       1413 non-null float64
station_diur_temp_rng_c                  1413 non-null float64
station_max_temp_c                       1436 non-null float64
station_min_temp_c                       1442 non-null float64
station_precip_mm                        1434 non-null float64
dtypes: float64(20), int64(2), object(2)
memory usage: 273.1+ KB

In [9]:
dengue_features_train.describe()

              year   weekofyear  ...  station_min_temp_c  station_precip_mm
count  1456.000000  1456.000000  ...         1442.000000        1434.000000
mean   2001.031593    26.503434  ...           22.102150          39.326360
std       5.408314    15.019437  ...            1.574066          47.455314
min    1990.000000     1.000000  ...           14.700000           0.000000
25%    1997.000000    13.750000  ...           21.100000           8.700000
50%    2002.000000    26.500000  ...           22.200000          23.850000
75%    2005.000000    39.250000  ...           23.300000          53.900000
max    2010.000000    53.000000  ...           25.600000         543.300000

[8 rows x 22 columns]

In [10]:
# check missing for each column
dengue_features_train.isnull().sum(axis=0)

city                                       0
year                                       0
weekofyear                                 0
week_start_date                            0
ndvi_ne                                  194
ndvi_nw                                   52
ndvi_se                                   22
ndvi_sw                                   22
precipitation_amt_mm                      13
reanalysis_air_temp_k                     10
reanalysis_avg_temp_k                     10
reanalysis_dew_point_temp_k               10
reanalysis_max_air_temp_k                 10
reanalysis_min_air_temp_k                 10
reanalysis_precip_amt_kg_per_m2           10
reanalysis_relative_humidity_percent      10
reanalysis_sat_precip_amt_mm              13
reanalysis_specific_humidity_g_per_kg     10
reanalysis_tdtr_k                         10
station_avg_temp_c                        43
station_diur_temp_rng_c                   43
station_max_temp_c                        20
station_min_temp_c                        14
station_precip_mm                         22
dtype: int64